<template>
<p v-bind:class="{'danger':hasError}">El mensaje se ha envíado correctamente</p>
</template>

<script lang="ts">
import { defineComponent,Ref,ref } from "vue";
export default defineComponent(
    {
        name:"ClassBind",
        setup() {
            let hasError:Ref=ref(true);
            return {hasError}
        },
    }
)
</script>

<style scoped>
.danger{
    color:red;
}
</style>