<template>
    <h1></h1>
</template>

<script lang="ts" setup>
/* OPTION API
import {Ref,ref,defineComponent} from 'vue'
export default defineComponent({
    name:'CycleOption',
    created() {
        console.log('created');
        
    },
    mounted() {
        console.log('mounted');
        
    },
    updated() {
        console.log('updated');
        
    },
    unmounted() {
        console.log('unmounted');
        
    },
})
*/

//COMPOSITION API. Se incliye el setup en <script>
import { onMounted,onUpdated } from 'vue'

onMounted(() =>{
    console.log('mounted');
})
onUpdated(() =>{
    console.log('updated');
})

</script>

<style scoped>

</style>