<template>
    <div>
        <label for="">Subtotal</label>
        <input type="number" v-model="subtotal">
        <h3 v-custom-size="40">Total impuestos a pagar: {{ totalVat }} ({{ vat }}%)</h3>
        <h3 v-custom-size-arg:xxl>Total final: {{ total }}</h3>
        <h3 v-custom-font.xxl.blue>Directiva personalizada con modificadores</h3>
    </div>
</template>

<script lang="ts" setup>
    import { ref,Ref,computed } from 'vue'

    const vat=21;
    let subtotal:Ref<number> = ref(0);
    const totalVat=computed(()=> (vat*subtotal.value)/100);
    const total:Ref<number> =computed(()=> totalVat.value+subtotal.value);
</script>

<style scoped>

</style>