<template>
<h1 v-if="age<18">Eres menor de edad</h1>
<h1 v-else>Eres mayor de edad</h1>

<h2 v-show="age>17">Eres mayor de edad</h2>
<h2 v-show="age<18">Eres menor de edad</h2>
</template>

<script lang="ts" setup>
import {Ref,ref } from 'vue';
let age:Ref=ref(10)
</script>


<style scoped></style>