<template>
<form action="">
    <input type="text" v-model="inputTex"/>
    <input type="checkbox" v-model="agree"/> Acepto los términos y condiciones
    <select v-model="country" >
        <option value="Spain">Spain</option>
        <option  value="France">Francia</option>
        <option  value="Uk">UK</option>
    </select>
</form>
<h3>{{ inputTex }}</h3>
</template>

<script lang="ts">
    import {defineComponent,Ref,ref} from 'vue'
    
    export default defineComponent({
        name:'ModelForm',
        setup(){
            let inputTex:Ref=ref('')
            let agree:Ref=ref(true)
            let country:Ref=ref('Spain')
            return {inputTex,agree,country}
        }
    })
    
</script>

<style scoped>
</style>