<template>
    <div class="post-card">
        <h3>Título</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, repellendus mollitia soluta delectus illum expedita voluptas debitis reprehenderit saepe maxime cum at doloribus eaque est placeat itaque excepturi incidunt non.
        </p>
        <PostButton/>
    </div>
</template>
    
<script lang="ts" setup>
    import PostButton  from "./PostButton.vue";
</script>
    
<style scoped>
    .post-card{
        border-radius: 150x;
        padding: 10px;
        margin: 5px;
        border: 1px solid #ccc;
    }
</style>