<template>
<!-- <p v-bind:style="{'background-color':'#ccc'}"> El mensaje ha sido envíado con éxito</p>-->
<p :style="{backgroundColor:'#ccc',color:c}">El mensaje ha sido envíado con éxito</p>
<button @click="handleClick">Cambiar color</button>
</template>

<script lang="ts" setup>
    import {Ref,ref} from 'vue'
    let c:Ref=ref('#fff');
    const handleClick=()=> c.value='#ff0000'
</script>

<style scoped>
</style>