<template>
  <h1>Curso Vue 3</h1>
  <EjercicioFactura/>
</template>

<script lang="ts" setup>
  import EjercicioFactura from "./components/EjercicioFactura.vue"
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
} 
h1{
  color: green;
}
</style>
